.input__label {
    display: block;
    color: #818182;
    line-height: 28px;
    font-size: 16px;
  }



  .input {
    display: block;
    width: 452px;
    height: 38px;
    padding: 9px 0 8px 17px;
    border: 1px solid #CED4DA;
    border-radius: 4px;
    color: #000;
    outline: 0;

  }

  input::placeholder {
    color: #818182;
  }


  input::-webkit-input-placeholder {
    color: #818182;
  }